html,
body {
  height: 100%;
  background-color: white;
}

body {
  margin: 0;
  font-family: Segoe UI, Tahoma, sans-serif;
}

.modal{
    margin-top: -20px;
}
.Sample input,
.Sample button {
  font: inherit;
}

.Sample header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  color: white;
}

.Sample header h1 {
  font-size: inherit;
  margin: 0;
}

.Sample__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.Sample__container > * > * {
  margin: 0px;
}

.Sample__container__content {
  display: flex;
  max-width: 100%;
  flex-basis: 420px;
  flex-direction: column;
  flex-grow: 100;
  align-items: stretch;
}

/* Common styles for all devices */
.some-class {
  font-size: 16px;
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .some-class {
    font-size: 18px;
  }
}

/* Laptop styles */
@media (min-width: 1024px) and (max-width: 1279px) {
  .some-class {
    font-size: 20px;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .some-class {
    font-size: 14px;
  }
}
